{% extends 'teacher/base.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock%}
{% block navbar %}
{% include 'teacher/navbar.html' %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2> Assigned Courses </h2>
    
        {% if courses|length > 1 %}
        <table class="table">
            <thead class="thead-dark">
                <tr class="text-uppercase">
                    <th>#</th>
                    <th>Course Title</th>
                    <th>Semester</th>
                    <th>Course Code</th>
                    <th>Option</th>
                </tr>
            </thead>
            {% for course in courses %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.semester_id }} </td>
                <td>{{ course.code }} </td>
                <td> <a class="text-decoration-none btn btn-outline-dark btn-sm font-weight-bold card-link"
                        href="{% url 'teacher:takeattendance' course.code %}">Take Attendance</a> </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
</div>
{% endblock %}