{% extends 'teacher/base.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock%}
{% block navbar %}
{% include 'teacher/navbar.html' %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2> Assigned Courses </h2>
    <div class="card-body">
        {% if courses|length > 1 %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="text-uppercase">
                    <th>Course Title</th>
                    <th>Semester</th>
                    <th>Course Code</th>
                    <th>Option</th>
                </tr>
            </thead>
            {% for course in courses %}
            <tr>
                <th>{{ course.title }}</th>
                <th>{{ course.semester_id }} </th>
                <th>{{ course.code }} </th>
                <th> <a class="text-decoration-none btn btn-dark btn-sm font-weight-bold card-link"
                        href="{% url 'teacher:takeattendance' course.code %}">Take Attendance</a> </th>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}