{% extends 'teacher/formpage.html' %}

{% block title %}
<title>Signup</title>
{% endblock %}

{% block content %}

<body class='text-center'>
    {% load widget_tweaks %}
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Teacher Sign Up</h1>
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        {% render_field form.first_name class="form-control" placeholder="first name" required="" autocomplete="off" type="text" %}
        {% render_field form.last_name class="form-control" placeholder="last name" required="" autocomplete="off" type="text" %}
        {% render_field form.email class="form-control" placeholder="you@email.com" required="" autocomplete="off" type="email" %}
        {% render_field form.username class="form-control" placeholder="username" required="" autocomplete="off" type="text" %}
        {% render_field form.password class="form-control" placeholder="password" required="" autocomplete="off" type="password" %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        <p class="h6 mt-2">Already have an account? <a class="text-decoration-none" href="{% url 'teacher:signin' %}">Sign
                In</a></p>
        <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
    </form>
</body>
{% endblock %}