{% extends 'teacher/base.html' %}
{% block title %}
<title>Take Attendance</title>
{% endblock%}
{% block navbar %}
{% include 'teacher/navbar.html' %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>{{ course_title }}</h2>
    <table class="table">
        {% load widget_tweaks %}
        <form class="form-control-lg" method="POST">
            {% csrf_token %}
            {{ forms.management_form }}
            <thead class="thead-dark">
                <tr class="text-uppercase">
                    <th style="width: 5%;">#</th>
                    <th>Student Name</th>
                    <th style="width: 20%">Roll No</th>
                    <th style="width: 10%">Status</th>
                </tr>
            </thead>

            {% for form in forms %}
            <tr>
                {% render_field form.student_name hidden="" %}
                {% render_field form.course_id hidden="" %}
                {% render_field form.student_id hidden="" %}
                {% render_field form.roll_no hidden="" %}
                {% render_field form.date hidden="" %}
                
                
                <td>{{ forloop.counter }}</td>
                <td>{{ form.student_name.value }}</td>
                <td>{{ form.roll_no.value }} </td>
                <td>
                    {% render_field form.status type="checkbox" class="switch"%}
                </td>
            </tr>
            {% endfor %}
            <td></td>
            <td></td>
            <td></td>
            <td style="padding-top:5px; padding-bottom:5px;">
                <button class="btn btn-outline-dark font-weight-bold btn-block" type="submit">Submit</button>
            </td>
        </form>
    </table>


</div>
{% endblock %}